.home {
  font-size: 100px;
  background-color: lemonyellow
};
.home {
  display: flex;
  height: 70px;
  gap: 5rem;

 align-items: centre;
 background-color:  grb(180, 244, 84);
 font-size: 30px;
 border: 20cqmax;
 justify-content: space-evenly;
 padding: 20px;
};


.wel a{

 color: blue;
 text-decoration: none;
};

.wel a :hower{
 display: flex;
 height: 70px;
 text-decoration: underline;
 align-items: centre;
 font-size: 30px;
 border: 20cqmax;
 justify-content: space-evenly;
 padding: 20px
}